@page
@model UniversitySimulator.Pages.Register.MostrarDatosModel
@{

}

<body class="text-center">
    <script>


        function CrearUsuario() {
            if (Boolean.Parse(Html.ViewData["flag"].ToString())) {
                swal("Usuario registrado con exito");
            }

        }

    </script>

    <form class="form-signin" method="post" action="">
        <img class="mb-4" src="~/images/uslogo.jpg" alt="">
        <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>

        <label class="col-5">Nombre:</label>
        <span class="">@ViewData["UserName"]</span>

        <label class="col-5">Apellido:</label>
        <span class="">@ViewData["UserLastName"]</span>

        <label class="col-5">Dni:</label>
        <span class="">@ViewData["UserDni"]</span>

        <label class="col-5">Legajo:</label>
        <span class="">@ViewData["UserLegajo"]</span>

        <label class="col-5">Email:</label>
        <span class="">@ViewData["UserEmail"]</span>
        <a href="../Home/Principal">Ir a la pagina principal</a>

    </form>
</body>
